@use '../base/typography' as *;
@use '../utils/functions.scss' as *;

.header{
    &-logo{
        max-width: 165px;
    }

    &-options{
        font-size: 1.25rem;
        flex: 1;

        &-list{
            display: flex;
            align-items: center;
            height: 100%;
            gap: 1.5rem;

            &-option{
                @include main-font-400;

                &__text{
                    cursor: pointer;
                }
            }
        }
    }

    &-account{
        margin: auto;
        padding-right: 2rem;

        &-login{
            @include flexCenter;
            flex-direction: column-reverse;
            gap: .5rem;

            @include largeScreen{
                flex-direction: row;
                gap: 2rem;
            }

            &-button{
                @include main-font-400;
                
                &__text{
                    font-size: 1.25rem;
                    text-decoration: underline;
                }
            }
        }

        &-register{
            &-button{
                @include main-font-300;

                background-color: var(--main-theme-color-200);
                padding: .75rem 1.25rem;
                border-radius: .25rem;

                &__text{
                    font-size: 1.25rem;
                    color: var(--main-font-color-300);
                }
            }
        }
    }
}