@use '../base/typography' as *;
@use '../utils/functions' as *;

.login, .register{
  display: grid;
  place-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;

  &-form{
    @include main-font-300;

    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    gap: 1rem;
    padding: .75rem 1rem;
    background-color: var(--main-theme-color-200);
    color: var(--main-font-color-300);

    @include smallScreen{
      min-width: 300px;
    }

    @include midScreen{
      min-width: 350px;
    }

    @include bigScreen{
      min-width: 400px;
    }

    @include largeScreen{
      min-width: 500px;
    }

    @include xlargeScreen{
      min-width: 600px;
    }

    &-title{
      padding: .5rem 0;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;
    }

    &-separator{
      height: 1px;

      &__hr{
        height: 100%;
        border: none;
        background-color: var(--main-theme-color-500);
      }
    }

    &-username, &-password, &-email, &-phone, &-name-first, &-name-last{
      display: flex;
      flex-direction: column;

      &__input{
        @include main-font-400;

        width: 66%;
        margin-top: .25rem;
        padding: .25rem;
        font-size: 1rem;
        border: none;
        border-radius: .5rem;
      }
    }

    &-name{
      display: flex;

      &-first, &-last{
        &__input{
          width: 85%;
        }
      }
    }

    &-submit{
      @include flexCenter;
      flex-direction: column;

      &__input{
        @include main-font-400;

        font-size: 1.25rem;
        margin-top: .25rem;
        padding: .5rem .75rem;
        border-radius: .25rem;
        background-color: var(--main-theme-color-100);
        color: var(--main-font-color-100);
      }

      &__subtext{
        margin-top: .1rem;
        padding-bottom: .25rem;
        background-color: transparent;
        color: var(--main-font-color-300);
        font-size: .75rem;
        text-decoration: underline;
      }
    }
  }
}