@use '../utils/functions' as *;
@use '../utils/variables' as *;
@use '../base/typography' as *;

.main{
  &__image{
    img{
      min-width: 100%;
      max-height: 300px;
      object-fit: cover;
    }
  }

  &-offers{
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;

    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: -1;
      
      background: linear-gradient(
        var(--main-theme-color-400) 69%, 
        var(--main-theme-color-200) 100%
      );
      opacity: .2;
    }

    &-list{
      display: flex;
      justify-content: space-evenly;

      &-option{
        display: flex;
        flex-direction: column;
        max-width: 25%;
        border-radius: 8px;
        overflow: hidden;

        &__image{
          aspect-ratio: 1 / 1;

          img{
            aspect-ratio: inherit;
          }
        }

        &-content{
          @include main-font-400;

          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-areas: 
            "name name name prc dsc"
            "name name name btn btn";
          row-gap: .5rem;
          margin-top: -4px;
          padding: .5rem .75rem .75rem .75rem;
          background-color: var(--main-theme-color-400);

            &-name{
              grid-area: name;

              &__text{
                font-size: 1.5rem;
              }
            }

            &-price{
              &::after{
                content: '\20AC';
                padding-left: 1px;
              }

              grid-area: prc;
              
              
              font-size: 1.25rem;
              text-align: right;
            }

            &-discount{
              
              &::after{
                content: '\20AC';
                margin-left: 1px;
              }

              grid-area: dsc;
              
              text-align: center;
              text-decoration: line-through;
              font-size: 1.25rem;
              color: var(--main-font-color-400);
            }

            &-button{
              @include main-font-300;

              grid-area: btn;

              padding: .25rem .5rem;
              background-color: var(--main-theme-color-200);
              border-radius: .5rem;

              color: var(--main-font-color-300);
            }
        }
      }
    }
  }
}