@use '../utils/functions.scss' as *;
@use '../base/typography' as *;
@use '../utils/variables.scss' as *;

.offer{
  --padding-x: 3rem;
  padding-bottom: 4rem;
  width: 100%;

  margin: auto;

  @include midScreen{
    max-width: $md;
  }

  @include bigScreen{
    max-width: $lg;
  }

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    
    background: var(--main-theme-gradient-color-100);
    opacity: .2;
  }

  &__image{
    img{
      min-width: 100%;
      max-height: 300px;
      object-fit: fill;
    }
  }

  &-title{
    @include main-font-700;

    margin-top: 1rem;
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);

    &__text{
      font-size: 2rem;
      color: var(--main-font-color-200);
    }
  }

  &-content{
    @include main-font-400;
    color: var(--main-font-color-200);

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);

    &-advantages{
      &-list{
        padding-left: 1.5rem;
        list-style-type: disc;
      }
    }
  }

  &-slots{
    @include main-font-700;

    padding-left: var(--padding-x);
    padding-right: var(--padding-x);

    &__text{
      font-size: 1.5rem;
      color: var(--main-font-color-200);
    }
  }

  &-info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
    padding-right: 3rem;

    &-price{
      @include main-font-400;

      font-size: 1.25rem;

      &::after{
        content: '\20AC';
        padding-left: 1px;
      }
    }

    &-button{
      @include main-font-300;
      font-size: 1.25rem;
      color: var(--main-font-color-300);

      background-color: var(--main-theme-color-200);
      padding: .75rem 2rem;
      border-radius: .25rem;
    }
  }
}