$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1600px;

:root{
  --main-theme-color-100: rgba(249, 249, 249, 98);
  --main-theme-color-200: rgba(0, 45, 78, 31);
  --main-theme-color-300: rgba(0, 0, 32, 13);
  --main-theme-color-400: rgba(255, 255, 255, 100);
  --main-theme-color-500: rgba(0, 32, 56, 22);

  --main-font-color-100: rgba(0, 45, 78, 31);
  --main-font-color-200: rgba(0, 0, 0, 0);
  --main-font-color-300: rgba(255, 255, 255, 100);
  --main-font-color-400: rgba(144, 144, 144, 56);
}
