$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1600px;

:root{
  --main-theme-color-100: rgba(76, 175, 80, 69);
  --main-theme-color-200: rgba(255, 255, 255, 100);
  --main-theme-color-300: rgba(255, 87, 34, 100);
  --main-theme-color-400: rgba(165, 214, 167, 84);
  --main-theme-color-500: rgba(46, 125, 50, 49);

  --main-font-color-100: rgba(240, 240, 240, 100);
}