@use '../utils/functions' as *;

header{
  position: relative;
  display: flex;
  
  min-width: 100%;
  min-height: 165px;

  background-color: var(--main-theme-color-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}